{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="logo">
        <img src="{{ asset('img/logo.png') }}" alt="Logo LuxeControl">
    </div>

<form class="ui form raised very padded text container segment" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Connexion</h1>
    <div class="field">
        <label for="inputEmail">Email</label>
        <input type="email" placeholder="Email" name="email" id="inputEmail" required autofocus>
    </div>

    <div class="field">
        <label for="inputPassword">Password</label>
        <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="field">
        <button class="ui clr_bg button" type="submit">
            Se connecter
        </button> - <a href="{{ path('app_home') }}">Retour à la page d'accueil</a>
    </div>
</form>
{% endblock %}
