{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<div class="logo">
    <img src="{{ asset('img/logo.png') }}" alt="Logo LuxeControl">
</div>

<div class="ui raised very padded text container segment">
    <form method="POST" class="ui form login">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </div>
    
        <div class="field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
        </div>
    
        <input class="ui button right" type="submit" value="Se connecter" name="sub_login">
    
    </form>
</div>

{% endblock %}
