@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-gray: #333333;
    --color-red: #C53D45;
    --color-green: darkseagreen;
    --color-bg: #202739;
    --color-fond: #fafdff;
}

body {
    background-color: var(--color-fond);
    font-family: "Rubik", serif;
}

.menu-top {
    border-radius: 0 !important;
    background-color: var(--color-bg) !important;
    border: none !important;
    z-index: 9999;
    height: 40px !important;
    margin-bottom: 30px !important;
}

.title-top {
    color: #fff;
    font-family: 'Great Vibes', sans-serif;
    text-align: center !important;
    font-size: 40px !important;
    border: none !important;
    margin: auto;
}

.title-top:hover{color: #fff}
.logo {text-align:center;}
.logo img {height: 200px;}
.right {float: right;margin:0 !important;}
.p_sidebar {padding-top:50px;}

.container {padding-left: 160px; padding-top: 30px; width: 85% !important;}
form .login {
    width: 50%;
}


.p_sidebar {
    background-color: var(--color-bg) !important;
}

.p_sidebar i {
    margin-right: 10px;
}

/*.p_sidebar .it {
    color: white !important;
    font-size: 16px;
    font-family: "Inter", serif !important;
    margin: 20px;
    padding: 13px 10px 13px 10px !important;
    border-radius: 10px !important;
}*/

.p_sidebar ul {
    padding: 0;margin: 0;
}

.p_sidebar li {
    color: white !important;
    margin: 20px;
    list-style-type: none;
    font-size: 16px;
    font-family: "Inter", serif !important;
    padding: 13px 10px 13px 10px !important;
    border-radius: 10px !important;
}

.p_sidebar a {color: white !important;}

.p_sidebar li:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.p_sidebar .it i {
    font-size: 17px !important;
}

.orange {color: #ceaa66}
.blue {color: #3B70BE;}
.red {color: var(--color-red);}
.green {color: #4BBE4F !important;}
.yellow {color: #E8D572;}
.bold {font-weight: bold !important;}
.inika {font-family: 'Inika', serif !important;}
thead .tr-head > th {background-color: var(--color-bg) !important; color: white !important;}
.trash { color: #ecbc56 !important; }
.clr_bg { background-color: var(--color-bg) !important; color: #fff !important; }
.clr_bg:hover { background-color: rgba(32, 39, 57, 0.8) !important; }

.cart {
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px #b4b4b4;
}

.cart .content > * {
    padding-top: 0;
    margin-top: 0;
}

.preambule {
    font-size: 25px !important;
}

#rentedByMonthChart {
    margin: auto;
    height: 500px !important;
}

#CAGlobalChart {
    margin: auto;
    height: 500px !important;
}

.sidebaricon {font-size: 20px !important;}