<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LuxeControl - {% block title %}{% endblock %}</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    <script src="https://cdn.jsdelivr.net/NPM/@simondmc/popup-js@1.4.2/popup.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Italianno&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inika&family=Inter:wght@200;300;400;500;600;700&family=Italianno&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('img/logo.ico') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">

    {% block css %}{% endblock %}
</head>
<body>
    <div class="ui fixed inverted segment menu-top">

    </div>

    {% block body %}{% endblock %}

    {% block js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/components/api.min.js"></script>
    {% endblock %}
</body>
</html>
