{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}


{% block body %}

    {{ component('Sidebar') }}

    <div class="ui container">
        <h1 class="header inika">Tableau de bord</h1>
        <div class="ui three column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <i class="blue icon_card fa fa-car"></i>
                        <h2 class="header bold">7</h2>
                        <p>Locations en cours</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <i class="red icon_card fa fa-users"></i>
                        <h2 class="header bold">{{ count_customers }}</h2>
                        <p>Clients</p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="content">
                        <i class="yellow icon_card fa fa-hand-holding-dollar"></i>
                        <h2 class="header">46 875 €</h2>
                        <p>Chiffre d'affaire</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
