{% extends 'base.html.twig' %}

{% block title %}Vous vous êtes perdu ?{% endblock %}

{% block body %}
    <div class="ui center aligned basic segment">
        <h1>Vous n'avez pas tous les droits</h1>
        <img src="{{ asset('img/403.png') }}" alt="404 img">
        <h3>
            <a href="{{ path('app_dashboard') }}">Retourner à l'accueil</a>
        </h3>

    </div>
{% endblock %}